body{
    background-color: whitesmoke;
}

.header-bg{
    height: 80px;
    background-color: wheat;
}
.header-name{
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
}
.spacer{
    height: 10px;
}
.main-container{
    background-color: red;
    height: 500px;
    width: 100%;
}
.main-textarea{
    
}